<main role="main">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">GitHub</h1>
          <p>{{this.datoGit.login}}</p>
          <p>{{this.datoGit.bio}}</p>
          <img src={{this.datoGit.avatar_url}} width="300px" height="350px"/>
      </div>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <h2></h2>
        </div>
        <div class="col-md-4">
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>
